HTTP Examples - Header value not with a leading space character fail to be parsed

Per [RFC822 Section 3.2](https://datatracker.ietf.org/doc/html/rfc822#section-3.2) header pairs do not require a space after ":" but prior to value. Parsing assumed ":<space>" based on previous server integrations. 